<ng-container *ngFor="let task of tasks">
  <ul class="row dashboard-row d-inline-block col-md-4">
    <li><b>Product_id:</b> {{task.product_id}}</li>
    <li><b>Title:</b> {{task.title}}</li>
    <li><b>Author:</b> {{task.uid}}</li>
    <li><b>Variations:</b>
      <select [(ngModel)]="selectedOption">
        <option [ngValue]="selected">select variation</option>
        <ng-container *ngFor="let variation_array of variations">
          <ng-container *ngIf="variation_array.product_id==task.product_id">
            <option [value]="variation_array.variation_id">
              {{variation_array.title}}
            </option>
          </ng-container>
        </ng-container>
      </select>
    </li>
    <li>
      <button (click)="onSubmit()">add to cart</button>
    </li>
  </ul>
</ng-container>
